:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-blue-color: #2196F3;
    --active-color: #4682B4;
    --background-color-for-main-page: #E5E5E5;
    --decoration-line: #2F303A;
    --highlight-color: #000000;
    }

/*общая стилизация страницы*/
.page {
    background-color: var(--background-color-for-main-page);    
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    margin: 0;
    }

    p {
    margin: 0;
    }

    ul {
    margin: 0;
    padding: 0;
    }

 .container {
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;      
      } 

 .section {
    padding-top: 94px;
    padding-bottom: 94px;    
    }



 /*уборка всех маркеров со всех списков*/
 ul {
    list-style: none;
 } 

 /* уборка всех подчеркиваний у ссылок */
 a {
    text-decoration: none;
 }

/*уборка всех лишних заголовков*/
.hidden {
   display: none;
 }

/*стилизация всех подписей (абзацы) в серый цвет, согласно макету)*/
 .description {
    color: var(--description-text-color);    
 } 

 /*стилизация шапки страницы логотипа (включая версию логотипа подвала)*/

 .main-nav {
    display: flex;    
    align-items: center;              
 }

 .logo-and-nav {
   display: flex;    
   align-items: center;      
 }


 .page-header {
    background-color: var(--primary-white-color);
    justify-content: space-between       
 } 

 .address-from-header:not(:last-child) {
   margin-right: 50px;
 }

 .nav-item:not(:last-child) {
   margin-right: 50px;
 }

 .logo {
    color: var(--highlight-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
    display: flex;    
    align-items: center;
    margin-right: 93px;     
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;    
    }
 
 .logo > .web {
    color: var(--accent-blue-color);
 }

 .logo > .studio {
    color: var(--primary-white-color);
 } 

 .logo:hover, .logo:focus {
    color: #7B68EE;
  }

 .logo:active {
     color: var(--active-color);
  }

 /*навигация по сайту (ссылки на разделы сайта)*/
 .site-nav a {
    color: inherit;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;    
 }
 
 .site-nav {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   display: flex;    
    align-items: center;    
 }

  .nav-item a:hover, a:focus {
    color: var(--accent-blue-color);
 }
 .nav-item a:active {
    color: var(--active-color);
 }

 .site-nav .nav-item .current-link {
    color: var(--accent-blue-color);
 }

 /*адреса и контактные данные*/
 .address-list {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
 }
   .main-adress {
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   
 }

  .address-from-footer a {
   color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
 }

 .address-from-header a {    
     color: var(--description-text-color);
   }     


 .contacts {
    display: flex;    
    margin-left: auto;          
 }

 .address-from-header:last-child {
    margin-right: 0;
 }
    
 .address-item a:hover, a:focus {
    color: var(--accent-blue-color)
 }
 .address-item a:active {
   color: var(--active-color);
 }

 .ending .address-list .main-adress {
   color: var(--primary-white-color);
 }

 .ending .address-list .main-adress:hover {
 color: var(--accent-blue-color);
 }

 /*стилизация раздела - герой*/ 
 .hero {
    background-color: var(--decoration-line);    
 }

 .hero-container {
   background-color: var(--decoration-line);
   justify-content: center;
   }

 .hero-container > .title-of-hero {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;         
 }



 /* Кнопки (button-primary - для раздела герой, button-secondary - кнопки фильтра)*/
 .button-primary {
      color: var(--primary-white-color);
      background-color: var(--accent-blue-color);
      cursor: pointer;
      font-family: inherit;  
      display: block;
      margin: auto;
      height: 50px;       
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 10px 32px;             
     }

     .button-primary:hover {
      color: var(--primary-white-color);
      background-color: var(--active-color);
     }

 .order {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
     }
     
 .button-secondary {
     color: var(--primary-text-color);
     background-color: #F5F4FA;
     cursor: pointer;
     font-family: inherit;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     border: 1px solid transparent;
     border-radius: 4px;
     padding: 6px 22px;                
    }

    .switcher-items {
      margin-right: 8px; 
    }

    .button-secondary:last-child {
     margin-right: 0px;
    }

     .filter {
     text-align: center;     
     display: flex;          
     }
     
     .switchers {
      display: flex;
      justify-content: center;   
     }

     .button-secondary {      
      display: flex;
      align-items: center;
     }

      
     
 .button-secondary:hover, .button-secondary:focus {
     color: var(--primary-white-color);
     background-color: var(--accent-blue-color);
    }

 /* стилизация второго сектор страницы студия (преимущества данной компании) */
 .future-list {
   display: flex;
   align-items: center;
 }

 .future-list .item {
    width: 270px;    
 }

 .item:not(:last-child) {
   margin-right: 30px;
 }

  .advantages {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   margin-bottom: 10px;
 }

  .declaration {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;    
   } 

   .declaration:not(:last-child) {
      margin-right: 30px;
   }

  .what-are-we-doing {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;

   margin-bottom: 50px;            
 }

 .illustrations {
   display: flex;
   justify-content: center;     
 }

 .illustration:not(:last-child) {
   margin-right: 30px;
 }

  .our-team {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   margin-bottom: 50px;   
 }

 .personalities {
   display: flex;
   align-items: center;
   margin-left: -30px;   
 }

 .persona {
   flex-basis: calc((100% - 4 * 30px) / 3);
   margin-left: 30px;
   }

  .personalities h3 {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 10px;
  }

  .personalities p {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
 }

 /* Стилизация второго сектора страницы "Портфолио"
 с демонстрацией практической деятельности компании(картинки-ссылки)*/

 .switchers {
 justify-content: center;
 display: flex;
 margin-bottom: 34px; 
 }

 .cards a {
   color: inherit;   
 }

 .cards {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
   margin-right: 10px;      
 }
 /* не работает ?*/
 .our-experience {
 flex-basis: calc((100% - 2 * 30px) / 3);
 border-bottom: 1px solid #EEEEEE; 
  }

  .cards .our-experience:not(:last-child) {
     margin-bottom: 30px;         
  }
 
  .our-experience:focus {
   color: var(--highlight-color);
 }

  .title-cards {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   text-align: left;
 }

  .cards-description {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.87;
   text-align: left;
 }
 
/*стилизация подвала*/
  .footer {
   background-color: var(--decoration-line);
    }

  .ending {
     background-color: var(--decoration-line);
     padding: 60px 15px;
  }

  .logo-from-ending {
     display: inline-block;
     margin-bottom: 20px;         
  }

  .address-from-footer:not(:last-child) {
     margin-bottom: 9px;
  }
    



